*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {font-size: 62.5%;}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background: #1a1c20;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul, li {list-style-type: none;}

.sign-up-form {
  border: 0.1rem solid #51555b;
  background: #24272c;
  width: clamp(0.1rem, 99.5vw, 80rem);
  height: clamp(0.1rem, 99.5vh, 47rem);
  display: flex;
  flex-direction: row;
  border-radius: 1.7rem;
}

.sign-up-banner {
  height: 100%;
  border-right: 0.1rem solid #51555b;
  width: clamp(0.1rem, 45%, 45rem);
}

.banner-svg {
  width: 100%;
  height: 100%;
  border-radius: 1.7rem 0 0 1.7rem;
}

.sign-up-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 55%; 
}

.sign-up-in-text {
  font-family: 'Dejavu Sans', sans-serif;
  background: -webkit-linear-gradient(0deg, #f75f5f 0%, #48abe0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(0.1rem, 9vmin, 4rem);
  margin-bottom: clamp(0.1rem, 30vh, 1rem);
  margin-top: clamp(0.1rem, 30vh, 3rem);
}

.sign-up-in-form {
  margin: 0;
  height: 60%;
  width: 55%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-label {
  display: flex;
  flex-direction: column;
  width: clamp(0.1rem, 100%, 16rem);
  height: clamp(0.1rem, 4% + 20%, 10rem);
  justify-content: space-evenly;
  align-items: center;
}

.input-label label {
  align-self: flex-start;
  color: #9AA2B2;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: clamp(0.1rem, 3.5vmin, 1.6rem);
}

.input-label input {
  width: clamp(0.1rem, 54vw, 16rem);
  height: clamp(0.1rem, 6vmin, 2.3rem);
  border-radius: 2rem;
  border: none;
  background: #535962;
}

.sign-up-fields p {
  color: #9AA2B2;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: clamp(0.1rem, 4vmin, 1.6rem);
  margin-top: clamp(0.1rem, 30vh, 1rem);
  margin-bottom: clamp(0.1rem, 30vh, 1rem);
}

.sign-up-in-form button {
  color: #9AA2B2;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: clamp(0.1rem, 5vmin, 1.6rem);
  padding: clamp(0rem, 5vmin, 0.3rem);
  height: clamp(0.1rem, 7vh, 3rem);
  width: clamp(0.1rem, 40vw, 13rem);
  margin-top: clamp(0.1rem, 15vmin, 2.5rem);
  margin-bottom: clamp(0.1rem, 15vmin, 1rem);
  border-radius: 2rem;
  border: none;
  background: #535962;
}

@media (max-width:600px) {
  .sign-up-form {
    width: 99.5%;
    height: 99.5%;
    flex-direction: column;
  }

  .sign-up-banner {
    width: 100%;
    height: clamp(0.1rem, 37vh, 37rem);
    border-right: none;
    border-bottom: 0.1rem solid #51555b;
  }

  .banner-svg {border-radius: 1.7rem 1.7rem 0 0;}

  .sign-up-fields {
    height: clamp(0.1rem, 60vh, 60vh);
    width: 100vw;
  }
}
